<div class="navbar-header pull-left">
    <%= image_tag("logo.png", id:"nav-logo_img", class:"logo-img") %>
    <span class="nav-logo-first co-name">level</span><span class="nav-logo-second co-name">up</span><br>
</div>
