<div class="navbar-header pull-left">
    <a class="logo-link" href="/<%= current_user.nickname %>"><%= image_tag("logo.png", id:"nav-logo_img", class:"logo-img") %>
    <span class="nav-logo-first co-name">rails </span><span class="nav-logo-second co-name"> purgatory</span></a><br>
</div>
