<header class="landing-copy">
  <div class="text-center">
    <p class="landing-sub-header">
      level up
    </p>
    <%= link_to 'signin with facebook', user_facebook_omniauth_authorize_path, class: "btn fade-in btn-signin", id:"signin" %>
  </div>
</header>
