$dark-blue: #34495e;
$purgatory-blue: rgba(41,128,185,.4);
$purgatory-red: rgba(231,76,60,.4);
$purgatory-dark-blue: rgba(52,73,94,.3);
$purgatory-green: rgba(46,204,113,.4);
$purgatory-dark-red: rgba(192,57,43,.4);
$off-white: #DADFE1;
$button-hover: #6C7A89;
$button: rgba(41,128,185,.6);
$background-blue: #48596C;
$off-black: #2b2b2b;
